{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for alerts in alerts %}
        <article class="dashboard">
            <header>Alert ID: {{ alerts['id'] }}</header>
            <div class="alert">
                <p>Alert triggered at {{ alerts['src_ip']}} with memo "{{ alerts['memo'] }}".</p>
                <p>Triggered at {{ alerts['time']}} and sent over {{ alerts['channel'] }}.</p>
                <p>Token management at {{ alerts['manage_url'] }}.</p>
            </div>
        </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %} 
{% endblock %}